<!DOCTYPE html>

 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YoYo PIZZA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles/styles.css">

    </head>
    <body>
        <div class="box">
            <div class="pizza_menu">
                <div class="l">
                    <div class="list">
                        <li> Login <i class="fa fa-angle-down"></i></li>
                        <li> Sign Up <i class="fa fa-angle-down"></i></li>
                        <li> My Orders <i class="fa fa-angle-down"></i></li>
                    </div>

                    <div class="dark">

                    </div>
                    <div class="menu">
                        <ul class="m">
                            <li><a href="#"><font>Home</font></a></li>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Book</a></li>
                            <li><a href="#">Offers</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>

                    <div class="content">
                        <img src="/static/styles/chef-with-pizza.jpg" height="300" width="260" class="cooker">
                        <h1>PIZZA BOX</h1>
                        <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, quisquam quidem maiores consectetur beatae nam, libero ipsa officiis dele</h4>

                        <form action="/openchatbot" method=post>
                            <input class="book" type="submit" value="BOOK YOUR PIZZA" />
                        </form>
                        
                    </div>
                </div>

            </div>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>